body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }
  
  .app {
    text-align: center;
  }